# Common
pandas==1.2.3
pymssql==2.1.5
pyodbc==4.0.30

# Azure
azure-storage-blob==12.3.2
azure-storage-file-datalake==12.0.2
azure-common==1.1.25
pymssql==2.1.5

# AWS S3
boto3==1.14.63
s3fs==0.4.2

# Google
google-api-core==1.26.2
google-cloud-storage==1.30.0
google-cloud-bigquery-storage==2.2.1
fs-gcsfs==1.4.1
pandas_gbq==0.14.0

# MySQL
mysql-connector-python==8.0.20

