--extra-index-url https://azory:arHWmo3jr-ca.aP1@pypi.ydata.ai

platform-python-sdk==0.1.3

ydata-connectors==1.0.0rc3
ydata-report==1.0.0rc3
ydata-synthesizers==1.0.0rc3
ydata-utils==1.0.0rc3

platform-python-models==0.1.0

# Common
rhea==0.5.5
