beautifulsoup4==4.*
bert-serving-client==1.*
bert-serving-client==1.*
bokeh==1.*
cloudpickle==1.*
cython==0.29.*
dask==2.22.*
dill==0.3.*
gensim==3.8.*
h2o==3.*
h2o4gpu==0.4.*
h5py==2.*
ipywidgets==7.*
jupyterlab==1.2.*
jupyter_console==6.*
keras==2.3.*
kubeflow-kale==0.5.0
matplotlib==3.*
mxnet==1.*
nbformat==4.*
nltk==3.*
numba==0.50.*
numexpr==2.*
pandas==1.0.*
patsy==0.5.*
pillow==7.*
protobuf==3.*
pyarrow==1.*
scikit-image==0.17.*
scikit-learn==0.21.2
scipy==1.*
seaborn==0.10.*
statsmodels==0.11.*
sympy==1.*
Theano==1.*
xgboost==1.*
xlrd==1.*
