# YData
https://github.com/ydataai/ydata/releases/download/0.11.0/ydata-0.11.0.tar.gz

# Pandas Profiling
https://github.com/ydataai/pandas-profiling/releases/download/2.10.1/pandas-profiling-2.10.1.tar.gz
